
*{
  transition: 0.5s;
}

body{
  background-color: #ebf2ff;
}
.card:hover{
box-shadow: 6px 9px 15px -7px rgba(0,0,0,0.8);
-webkit-box-shadow: 6px 9px 15px -7px rgba(0,0,0,0.8);
-moz-box-shadow: 6px 9px 15px -7px rgba(0,0,0,0.8);
}